*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    display: flex;
    margin: 5px;
}

.head img{
    position: relative;
    width: 11%;
    z-index: 1;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -14px;
}

.home-image{
    background-image: url(assests/moneyhesist.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 90vh;
    border-radius: 20px;
    position: relative;
    filter: brightness();
}
.home-image-text{
    color: blanchedalmond;
    position: relative;
    width: 30%;
    top: 13em;
    left: 3em;
    z-index: 1;
}

.money{
    width: 100%;
    height:auto;
}

.play-button{
    background-color: red;
    color: black;
    border-radius: 4px;
    width: 70px;
    padding: 5px 20px 0px;
    font-size: 25px;
}

.play-button img{
    margin-top: 0px;
    padding-left: 5px;
    width: 25px;
    position: absolute;
}